<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Render AngularJS views  -->
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>
<h3>Sign up</h3>
	<!-- Render the signup form  -->
	<form action="/signup" method="post">
		<div>
			<label>First Name:</label>
			<input type="text" name="firstName" />
		</div>
		<div>
			<label>Last Name:</label>
			<input type="text" name="lastName" />
		</div>
		<div>
			<label>Email:</label>
			<input type="text" name="email" />
		</div>
		<div>
			<label>Username:</label>
			<input type="text" name="username" />
		</div>
		<div>	
			<label>Password:</label>
			<input type="password" name="password" />
		</div>
		<div>
			<input type="submit" value="Sign up" />
		</div>
	</form>


	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<!-- script type="text/javascript" src="/lib/jquery/dist/jquery.min.map"></script -->
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>